/** @format */
* {
  margin: 0;
  padding: 0;
}

section {
  max-width: 440px;
  margin: 0px auto;
  background-color: white;
  width: 100%;
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px;
}

section h4 {
  margin: 15px;
}

section .action_container {
  height: 300px;
  border-radius: 4px;
}

.home {
  height: 100vh;
  overflow-y: scroll;
}
/* actions div or container styling */
.home .actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 20px;
}

/* action item styling */
.home .actions .action_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px #ddd;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

.action_item i {
  font-size: 18px;
  margin-bottom: 3px;
  color: green;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(102, 164, 102, 0.423);
}

.home p {
  font-size: 19px;
  font-weight: 600;
}

/* latest news styling */

.news {
  margin-top: 20px;
  padding: 5px;
}

.news_item {
  margin: 8px 0px;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.news_item img {
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.news_item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 6px;
}

.news_item div h5 {
  font-size: 18px;
}

.explore {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.profile {
  height: 100vh;
  overflow-y: scroll;
}

.home.hide {
  display: none;
}

.explore {
  display: none;
}

.explore.show {
  display: flex;
}

.profile.show {
  display: flex;
}

.profile {
  display: none;
}

section footer {
  height: 57px;
  border-top: 1px solid #ccc;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

footer h4 {
  cursor: pointer;
}

.explore .explore_item {
  padding: 5px;
  margin: 6px 5px;
  cursor: pointer;
  height: 45px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.explore_item:hover {
  background-color: rgba(102, 164, 102, 0.423);
}

.explore .explore_item i {
  margin-right: 6px;
  font-size: 17px;
  margin-bottom: 3px;
  color: green;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(102, 164, 102, 0.423);
}

.explore_item span {
  font-size: 20px;
}

footer div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
}

footer i {
  font-size: 19px;
  margin-bottom: 5px;
}
footer span {
  font-size: 11px;
}

footer .homeBtn.active {
  color: green;
}

footer .exploreBtn.active {
  color: green;
}

footer .profileBtn.active {
  color: green;
}
